@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply bg-blue-500 hover:bg-blue-700 text-pink-50 font-bold py-2 px-4 rounded z-50;
}

.pass-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}

.form {
    @apply shadow-md rounded px-8 pt-6 pb-8 mb-4 z-40 w-full max-w-md bg-gray-50 bg-opacity-60;
}

.container {
    @apply absolute p-10 px-16 py-24 z-30;
}

.label {
    @apply block text-gray-700 text-sm font-bold mb-2;
}

.input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.text-white {
    @apply text-gray-50
}
